svg {
    border: 1px solid #999;
    overflow: hidden;
    background: #fff;
}
.node {
    white-space: nowrap;
}
.node rect,
.node circle,
.node ellipse {
    stroke: #333;
    fill: #fff;
    stroke-width: 1.5px;
}
.group rect {
    stroke: #333;
    fill: #000;
    fill-opacity: 0.1;
    stroke-width: 1.5px;
}
path {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
h1,
h2 {
    color: #333;
}
textarea {
    width: 800px;
}
label {
    margin-top: 1em;
    display: block;
}
.error {
    color: red;
}

html {
    height: 100%;
}

body {
    height: 100%;
}
